div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.center_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align:center;
}

.hidden_text{
    font-size: 4px;
    color: gray;
}

.red_error{
    color:red;
    font-size: 28px;
}

.horizontal{

}

    .horizontal li {
        display: inline-block;
    }

center_element{
    margin: auto;
}